.background{
  background-color: #000119;
  padding: 0;
  margin: 0;
}
.container{
  height: 370px;
  width: 370px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.moon{
  background-color: #35b2f0;
  height: 170px;
  width: 170px;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  border: rgb(218, 81, 211) 4px solid;
}

.crater{
  background-color: #31b4ff;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: relative;
}
.crater1:before{
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  box-shadow: -5px 0 0 2px #faa321;
  top: 2px;
  left: 7px;
}

.crater2:before{
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  box-shadow: -5px 0 0 2px #a908be;
  top: 2px;
  left: 7px;
}

.crater3:before{
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  box-shadow: -5px 0 0 2px #1ceaf9;
  top: 2px;
  left: 7px;
}

.crater4:before{
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  box-shadow: -5px 0 0 2px #27d653;
  top: 2px;
  left: 7px;
}

.crater5:before{
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  box-shadow: -5px 0 0 2px #ca34cf;
  top: 2px;
  left: 7px;
}
.crater1{
  background-color: #bd7b2f;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: relative;
  top: 27px;
  left: 90px;
  transform: scale(0.9);
}
.crater2{
  background-color: #b871e7;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: relative;
  bottom: 15px;
  left: 61px;
  transform: scale(0.6);
}
.crater3{
  background-color: #177eb9;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: relative;
  left: 15px;
  transform: scale(0.75);
}
.crater4{
  background-color: #39998c;
  height: 23px;
  width: 23px;
  border-radius: 50%;
  position: relative;
  left: 107px;
  top: 32px;
  transform: scale(1.18);
}
.crater5{
  background-color: #ff31ee;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: relative;
  left: 33px;
  bottom: 4px;
  transform: scale(0.65);
}
.shadow{
  height: 190px;
  width: 190px;
  box-shadow: 21px 0 0 5px rgba(0,0,0,0.15);
  border-radius: 50%;
  position: relative;
  bottom: 157.5px;
}

.eye{
  height: 12px;
  width: 12px;
  background-color: #161616;
  position: relative;
  border-radius: 50%;
}
.eye1{
  height: 16px;
  width: 16px;
  background-color: #161616;
  position: relative;
  border-radius: 50%;
  bottom: 260px;
  left: 59px;
}
.eye2{
  height: 16px;
  width: 16px;
  background-color: #161616;
  position: relative;
  border-radius: 50%;
  bottom: 275px;
  left: 101px;
}
.mouth{
  height: 10px;
  width: 17px;
  border: 3px solid #161616;
  position: relative;
  bottom: 262px;
  left: 79px;
  border-top: none;
  border-radius: 0 0 10px 10px;
}
.blush{
  height: 7.5px;
  width: 7.5px;
  background-color: #1ca4f9;
  position: relative;
  border-radius: 50%;
}
.blush1{
  height: 7.5px;
  width: 7.5px;
  background-color: #7e0812;
  position: relative;
  border-radius: 50%;
  bottom: 277px;
  left: 53px;
}
.blush2{
  height: 7.5px;
  width: 7.5px;
  background-color: #7e0812;
  position: relative;
  border-radius: 50%;
  bottom: 281px;
  left: 115px;
}

.orbit{
  height: 280px;
  width: 280px;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  animation: spin 5s infinite linear;
}
@keyframes spin{
  100%{
      transform: rotate(360deg);
  }
}
.rocket{
  background-color: #d3d5db;
  height: 50px;
  width: 25px;
  border-radius: 50% 50% 0 0;
  position: relative;
  left: -11px;
  top: 115px;
}
.rocket:before{
  position: absolute;
  content: "";
  background-color: #ff3939;
  height: 20px;
  width: 55px;
  z-index: -1;
  border-radius: 50% 50% 0 0;
  right: -15px;
  bottom: 0;
}
.rocket:after{
  position: absolute;
  content: "";
  background-color: #39ffff;
  height: 4px;
  width: 15px;
  border-radius: 0 0 2px 2px;
  bottom: -4px;
  left: 4.3px;
}
.window{
  height: 12px;
  width: 12px;
  background-color: #151845;
  border: 2px solid #b8d2ec;
  border-radius: 50%;
  position: relative;
  top: 17px;
  left: 5px;
}